@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.mbd {
background-color: #0464FC;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: white;
  border-width: 3px !important;
  border-radius: 20px;
  color: #fff;
  font-size:20px;
  outline: none;
  transition-duration: .15s;
  border-style: solid !important;
  border-color: #0464FC !important;
}

.mbd:hover{
background: white;
color: #0464FC;
transition-duration: .3s;
}

p, h1 {
  font-family: "Roboto", sans-serif;
}
